# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
plcc
compiler

# flex and bison
*.tab*
*.yy*
stack.hh

# text editors
*~
*.swp
*.swo

# compiler
*.out
*.pl
*.asm
*.byte
*.dasm
